.class-ConsultaRapida-step1 {
    padding: 0px 5%;
    display: grid;
    grid-template-columns: 32.5% 32.5% 32.5%;
    grid-gap: 20px;
    height: calc(100vh - 107px);
    align-content: center;

    > div:first-child {
        gap: 20px;
        display: grid;
        grid-template-rows: 20px auto 20px;
        align-items: center;

        > div:nth-child(2) {
            width: 100%;
            margin: 0;
            display: grid;
            grid-template-columns: 60px calc(100% - 120px) 60px;
            justify-content: center;
            align-items: start;
            min-width: 560px;
    
            svg:first-child  {
                justify-self: start;
            }
    
            svg:last-child  {
                justify-self: end;
            }
    
            svg {
                z-index: 9;
                position: relative;
                top:100px;
            }
    
            > span {
                display: flex;
                flex-direction: row;
                align-items: start;
                justify-content: center;
    
                .class-select{
                    z-index: 8;
                    opacity: 1;
                    display: flex;
                    flex-direction: column;
                    gap: 20px;

                    h4 {
                        font-weight: bold;
                    }
                }
    
                .class-semi-view{
                    opacity: 0.5;
                    display: block;
                }
        
                > span {
                    margin: 0 -45px;
                    text-align: center;
                    opacity: 0;
                    display: none;
        
                    > div:first-child{
                        display: inline-block;
                        position: relative;
                        width: 200px;
                        height: 200px;
                        overflow: hidden;
                        border-radius: 50%;
                        grid-row: 1 / spam 4;
            
                        img {
                            width: auto;
                            height: 100%;
                            margin-left: -50px;
                        }
                    }
                } 
            }
        }
    }

    > div:nth-child(2){
        border: 1px solid #c4c4c4;
        max-width: 340px;
        justify-self: center;
    }

    > div:nth-child(3){
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    > div:nth-child(4){
        grid-column: 1 / span 2;
    }

    > div:last-child {
        justify-content: end;
    }
}

.class-ConsultaRapida-step2{
    padding: 0px 5%;
    display: grid;
    grid-template-columns: 12% 22% auto;
    grid-gap: 20px;
    height: calc(100vh - 107px);
    align-content: center;

    h4 {
        font-weight: bold;
    }

    > div:first-child{
        min-height: 435px;
    }

    > div:nth-child(2) {
        display: grid;
    }

    .class-select {
        z-index: 8;
        opacity: 1;
        display: flex;
        flex-direction: column;
        gap: 20px;
        text-align: center;
        align-items: center;
        margin-top: 20px;

        > div:first-child {
            display: inline-block;
            position: relative;
            width: 200px;
            height: 200px;
            overflow: hidden;
            border-radius: 50%;
            grid-row: 1 / spam 4;

            img {
                width: auto;
                height: 100%;
                margin-left: -50px;
            }
        }
                
    }

    form {
        display: grid;
        grid-template-columns: calc(50% - 10px) calc(50% - 10px);
        grid-template-rows: repeat(5,56px);
        gap: 20px;

        > h5,
        > div:nth-child(4),
        > div:nth-child(5)  {
            grid-column: 1 / span 2;
        }

        > .css-xn6ruc>:not(style),
        > div,
        > div:nth-child(2) > div {
            width: auto;
            margin: 0;
        }
    }
}

