@media only screen and (max-width: 992px){
    .class-Header > div:nth-child(3) {
        grid-column: 1;
        grid-row: 1;
        position: fixed;
        bottom: 0;
        top: 0;
        z-index: 9;
    }

    ul.class-NavsLinks {
        display: flex !important;
        flex-direction: column;
        opacity: 0;
    }

    ul.class-NavsLinks.class-responsive{
        display: flex !important;
        flex-direction: column;
        background: #1f8bf7;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        width: 30vw;
        padding: 5% !important;
        z-index: 9;
        box-shadow: 3px 0 0 0 #0004;
        padding-top: 90px !important;
        opacity: 1;
    }

    header {
        > svg {
            z-index: 99;
            color: white;
        }

        h1 a {
            text-decoration: none;
            color: white;
        }
    }

    header.class-Header {
        display: grid;
        grid-template-columns: 24px auto 100px;
        background: #1f8bf7;
    }

    .class-User > div:nth-child(2) {
        display: flex !important;
        flex-direction: column;
        gap: 20px;
    }
}